body {margin: 0; padding: 0;}
@RenderSection("Scripts", required: false)

#table
{
    border: 2px solid black;
}

.rows
{
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}